In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [2]:
df = pd.read_csv('Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [3]:
df.columns

Index(['Unnamed: 0', 'TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [4]:
X = df.drop(['Unnamed: 0', 'sales'], axis = 1)
Y = df['sales'].values.reshape(-1,1)
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3)
reg = LinearRegression()
reg.fit(x_train, y_train)
predictions = reg.predict(x_test)

In [5]:
print('Slope = ', reg.coef_)
print('Intercept = ', reg.intercept_)

Slope =  [[0.04523557 0.18966258 0.00159185]]
Intercept =  [2.96871326]

In [8]:
print('The linear model Y = {:.5f} + {:.5f}*TV + {:.5f}*Radio + {:.5f}*Newspaper'.format(reg.intercept_[0], reg.coef_[0][0], reg.coef_[0][1], reg.coef_[0][2]))

The linear model Y = 2.96871 + 0.04524*TV + 0.18966*Radio + 0.00159*Newspaper

In [7]:
r2 = r2_score(y_test, predictions)
print('R2 score = ', r2)
reg.score(X,Y)

R2 score =  0.8942994882771981

0.8968655819342425